@charset "utf-8";

body {
    font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3',YuGothic, 'メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

h1 {
    border-bottom: solid 2px #516ab6;
}

h1, h2 {
    color: #4169e1
}

h3 {
    padding: 0.5rem;
    color: #375EAB;
    border-bottom: solid 2px #516ab6;
    font-weight: normal;
}

input {
    color: #375EAB;
    font-size: 15pt;
}
textarea {
    color: #375EAB;
    font-size: 13pt;
}

.container {
    margin-left: 40px;
    margin-right: 40px;
}

.article {
    padding-bottom: 50px;
}

.title, .date {
    padding: 6px;
}

.title > a {
    text-decoration: none;
    color:#375EAB;      
}

.blog_edit {
    font-size: 80%;
    text-decoration: none;
    right: 60px;
    position: absolute;
}

.footer {
    color: #aaaaaa;
    font-size: 80%;
    bottom: 0;
    right: 15px;
    text-align: right;

    width: 100%;
    position: absolute;
}

.wrapper{
    position: relative;
    min-height: 97vh;
}
